<h1>Recipes</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= time_ago_in_words(recipe.updated_at) %> ago</td> <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td> 
        <td><%= button_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td></tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Recipe', new_recipe_path %>