<!DOCTYPE html>
<html>
  <head> 
    <title>Cookbook</title> 
    <%= csrf_meta_tags %> <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
       <nav>
        <%= link_to 'Home', root_url %>
        <%= link_to 'Recipes', recipes_url %>
        <%= link_to 'About', about_url %>
      </nav>
      <% if notice %>
        <div id="notice">
          <%= notice %>
        </div>
      <% end %>
      <header>
        <h1>Our Cookbook</h1>
      </header>
      <main class="content">
        <%= yield %>
      </main>
      <footer>
        <h4>Copyright <%=Date.today.year %> OurCookbook</h4>
      </footer>
    </div>
  </body>
</html>